<mat-card class="cw-card-layout">
  <button mat-icon-button (click)="onNavigateBack()">
    <mat-icon>arrow_back</mat-icon>
   </button>

  <div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" class="cw-contact-detail-fields ">
  <mat-form-field floatPlaceholder="auto">
    <input matInput [(ngModel)]="contact.firstName"
           type="text"
           required
           placeholder="First name"
           [readonly]="!editingEnabled">
  </mat-form-field>

s  <mat-form-field floatPlaceholder="auto">
    <input matInput [(ngModel)]="contact.lastName"
           type="text"
           required
           placeholder="Last name"
           [readonly]="!editingEnabled">
  </mat-form-field>

  <mat-form-field floatPlaceholder="auto">
    <input matInput [(ngModel)]="contact.phoneNumber"
           type="text"
           required
           placeholder="Phone number"
           [readonly]="!editingEnabled">
  </mat-form-field>

  <mat-form-field floatPlaceholder="auto">
    <input matInput [(ngModel)]="contact.emailAddress"
           type="text"
           required
           placeholder="Email"
           [readonly]="!editingEnabled">
  </mat-form-field>

  <mat-form-field floatPlaceholder="auto">
    <input matInput [(ngModel)]="contact.streetAddress"
           type="text"
           required
           placeholder="Street Address"
           [readonly]="!editingEnabled">
  </mat-form-field>

  <mat-form-field floatPlaceholder="auto">
    <input matInput [(ngModel)]="contact.city"
           type="text"
           required
           placeholder="City"
           [readonly]="!editingEnabled">
  </mat-form-field>

  </div>
  </div>

</mat-card>

<button *ngIf="editingEnabled" mat-fab (click)="onSave" class="cw-fab" [disabled]="!editingEnabled">
  <mat-icon class="mat-18">check</mat-icon>
</button>
