<mat-nav-list>
  <mat-list-item *ngFor="let contact of contacts | orderBy: '-firstName'" (click)="onContactSelect(contact)">
    <avatar matListIcon class="cw-contact-list-item-avatar"
            [name]="contact.firstName"
            [displayType]="'circle'"
            [background]="contact.firstName | textToColor"
            [size]="35">
    </avatar>
    <h4 matLine> {{contact.firstName + ' ' + contact.lastName}}</h4>
    <p mat-line> {{contact.phoneNumber}}</p>
  </mat-list-item>
</mat-nav-list>
