<mat-sidenav-container class="cw-sidenav-container">
  <mat-sidenav #sidenav align="start" [mode]="'over'" [opened]="false" class="cw-sidenav">
    <div>
      <div fxLayout="column" fxLayoutAlign="center center" class="cw-sidenav-user-area">
        <div>
          <div>
            <mat-icon class="cw-sidenav-avatar" color="primary">account_circle</mat-icon>
          </div>
          <div>
          <span>Toomas Karvinen</span>
          </div>
        </div>
      </div>
    </div>
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="login">Sign out</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div fxFlexFill class="cw-sidenav-content">
    <cw-toolbar (MenuClick)="sidenav.toggle()"></cw-toolbar>
    <div class="cw-app-container">
        <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
